
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
dj-database-url==2.2.0
Django==5.1.1
django-timezone-field==7.0
gunicorn==23.0.0
idna==3.9
kombu==5.4.1
packaging==24.1
prompt_toolkit==3.0.47
python-crontab==3.2.0
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3

